<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.linkedin.com/in/tristan-florin/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a target="_blank" href="https://github.com/Florkin">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Tristan Florin 2020</p>
            </div>
        </div>
    </div>
</footer>