<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row no-gutters">
                <div class="col-lg-12">
                    <form class="p-5 form" method="post" action="{{ actionLogin }}">
                        {% for loginField in loginForm %}
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <div>{{ loginField|raw }}</div>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                    <small class="text-muted pl-5 pb-2"><a href="{{ url.lost_password }}">Mot de passe oublié?</a></small>
                    <p class="pl-5 pb-2">Pas de compte? <a href="{{ url.register_form }}">S'inscrire</a></p>
                </div>
            </div>
        </div>
    </div>
</div>