{% extends 'layout.twig' %}

{% block head %}
    <title>{{page_name|capitalize}}</title>
{% endblock %}

{% block content %}

<section class="site-section">
    {{ dump(article) }}
    {{ article.content|raw }}
</section>

{% endblock %}