{% extends 'layout.twig' %}

{% block head %}
    <title>{{page_name|capitalize}}</title>
{% endblock %}

{% block content %}

<section class="site-section">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-up">
      <div class="col-lg-6 text-center heading-section mb-5">
        <div class="code-icon">
          <span class="icon-code"></span>
        </div>
        <h2 class="text-black mb-2">Tous les articles</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts.</p>
      </div>
    </div>

    {% include "_partials/listing.twig" %}
    
  </div>
</section>

{% endblock %}