{% extends 'layout.twig' %}

{% block head %}alien communication wallpaper
    <title>Accueil</title>
{% endblock %}

{% block content %}
    {% set herotitle = 'Space-Blog' %}
    {% set herosubtitle = 'A simple blog system' %}
    {% set imgurl = url.base_url ~ '/img/home-bg.jpg' %}
    {% include '_partials/hero-section.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% include '_partials/listing.twig' %}
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{ url.posts_list }}">Tous les articles &rarr;</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}