{% extends 'layout.twig' %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block content %}
{% include "_partials/hero-section.twig" %}


    <section class="site-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="code-icon">
                        <span class="icon-code"></span>
                    </div>
                    <h2 class="text-black mb-2">Les derniers posts</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind
                        texts.</p>
                </div>
            </div>

            {% include "_partials/listing.twig" %}

        </div>
    </section>

    <section class="site-section" id="about-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
                    <div class="code-icon ml-4">
                        <span class="icon-code"></span>
                    </div>
                    <h2 class="text-black mb-3">About Us</h2>
                    <p class="lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                        language
                        ocean.</p>
                    <p class="text-muted mb-4">A small river named Duden flows by their place and supplies it with the
                        necessary
                        regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your
                        mouth.</p>
                    <ul class="list-unstyled ul-paw primary mb-0">
                        <li>A small river named Duden flows</li>
                        <li>It is a paradisematic country</li>
                        <li>Roasted parts of sentences fly</li>
                    </ul>

                </div>
                <div class="col-lg-6 text-left heading-section mb-5" data-aos="fade-up" data-aos-delay="100">
                    <a data-fancybox data-ratio="1.5" href="https://vimeo.com/317571768" class="video-img">
          <span class="play">
            <span class="icon-play"></span>
          </span>
                        <img src="img/dogger_img_big_1.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="" id="contact-section">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 bg-primary">
                    <form method="post" action="{{ actionContact }}" class="p-5 contact-form">
                        <h2 class="h4 mb-5 heading">Formulaire de contact</h2>
                        <div class="row form-group">
                            {% for formfield in contactForm %}
                                <div class="mb-3 {% if formfield.name == "firstname" or formfield.name == "lastname" %}col-md-6 {% else %}col-md-12{% endif %} ">
                                    <div>{{ formfield|raw }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 bg-secondary">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-lg-6 text-center heading-section mb-5 align-self-center">
                            <div class="code-icon">
                                <span class="icon-code"></span>
                            </div>
                            <h2 class="text-white mb-5">Contact Us</h2>
                            <ul class="list-unstyled text-left address">
                                <li>
                                    <span class="d-block">Address:</span>
                                    <p>Melbourne St,South Birbane 4101 Austraila</p>
                                </li>
                                <li>
                                    <span class="d-block">Phone:</span>
                                    <p>+(000) 123 4567 89</p>
                                </li>
                                <li>
                                    <span class="d-block">Email:</span>
                                    <p>info@yourdomain.com</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}