{% extends 'layout.twig' %}

{% block head %}
    <title>les articles</title>
{% endblock %}

{% block content %}

<section class="site-section">
    <p>content {{ title }}</p>
</section>

{% endblock %}