{% extends 'layout.twig' %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

<section class="site-section">
    <p>content {{ title }} LIST</p>
</section>

{% endblock %}