{% extends 'layout.twig' %}

{% block head %}
    <title>{{page_name|capitalize}}</title>
{% endblock %}

{% block content %}

<section class="site-section">
    <p>content {{ title }}</p>
</section>

{% endblock %}