{% extends 'layout.twig' %}

{% block head %}
    <title>Mot de passe oublié</title>
{% endblock %}

{% block content %}

    {% set herotitle = 'Mot de passe oublié?' %}
    {% set herosubtitle = 'Demandez en un nouveau' %}
    {% set imgurl = url.base_url ~ '/img/home-bg.jpg' %}
    {% include '_partials/hero-section.twig' %}

        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 mx-auto">
                    <form class="p-5 form" method="post" action="{{ actionResetPassword }}">
                        {% for formField in passwordResetForm %}
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <div>{{ formField|raw }}</div>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>


{% endblock %}