{% extends 'layout.twig' %}

{% block head %}
    <title>{{ page_name|capitalize }}</title>
{% endblock %}

{% block content %}
    {% set herotitle = 'Les articles' %}
    {% set herosubtitle = 'Retrouvez la liste de tous les articles du blog' %}
    {% set imgurl = url.base_url ~ '/img/home-bg.jpg' %}
    {% include '_partials/hero-section.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% include "_partials/listing.twig" %}
            </div>
        </div>
    </div>



{% endblock %}