{% extends 'layout.twig' %}

{% block head %}
<title>Inscription</title>
{% endblock %}

{% block content %}
<div class="header-spacer"></div>
<section class="site-section">
    <div class="container">
        <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
            <div class="col-lg-6 text-center heading-section mb-5">
                <div class="code-icon">
                    <span class="icon-code"></span>
                </div>
                <h2 class="text-black mb-2">Inscription</h2>
                <p>Inscrivez vous et proposez vos posts!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 bg-primary">
                <form class="p-5" method="post" action="{{ actionRegister }}">
                    {% for formfield in registerForm %}
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div>{{ formfield|raw }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}