{% extends 'layout.twig' %}

{% block head %}
    <title>Inscription</title>
{% endblock %}

{% block content %}
    {% set herotitle = 'Inscription' %}
    {% set herosubtitle = 'Inscrivez vous et proposez vos posts!' %}
    {% set imgurl = url.base_url ~ '/img/home-bg.jpg' %}
    {% include '_partials/hero-section.twig' %}

        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 mx-auto">
                    {% set typesForFloatingLabel = ["text", "password", "email", "textarea"] %}
                    <form class="p-5 form" method="post" action="{{ actionRegister }}">
                        {% for formField in registerForm %}
                            {% if formField.type in typesForFloatingLabel %}
                                <div class="control-group">
                                    <div class="form-group controls floating-label-form-group">
                                        <div>{{ formField|raw }}</div>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row form-group mt-4">
                                    <div class="col-md-12">
                                        <div>{{ formField|raw }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>

{% endblock %}