{% extends 'layout.twig' %}

{% block head %}
    <title>Inscription</title>
{% endblock %}

{% block content %}

    <section class="site-section">
        <div class="container">
            <div class="row justify-content-center aos-init aos-animate" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="code-icon">
                        <span class="icon-code"></span>
                    </div>
                    <h2 class="text-black mb-2">Action non autorisée!</h2>
                    <p>{{ message }}</p>
                    <a class="btn btn-outline-dark" href="{{ urls.base_url }}">Retour a l'accueil</a>
                    {% if not isLogged %}
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#login-modal">Se connecter</button>
                    {% endif %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}