{% extends 'layout.twig' %}

{% block head %}
    <title>Inscription</title>
{% endblock %}

{% block content %}
    {% set herotitle = "Action non autorisée!" %}
    {% set herosubtitle = message %}
    {% set imgurl = url.base_url ~ '/img/unauthorized-bg.jpg' %}
    {% include '_partials/hero-section.twig' %}
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <a class="btn btn-outline-dark" href="{{ url.base_url }}">Retour a l'accueil</a>
                    {% if not isLogged %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">Se connecter</button>
                    {% endif %}
                </div>
            </div>
        </div>



{% endblock %}