<!DOCTYPE html>
<html lang="en">

{% include "_partials/head.twig" %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" id="home-section">
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="site-wrap">

        {% include "_partials/header.twig" %}

        {% block content %}{% endblock %}

        {% include "_partials/footer.twig" %}

    </div>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="./front/assets/js/script.js"></script>

</body>

</html>