<!DOCTYPE html>
<html lang="en">

{% include "_partials/head.twig" %}

<body>

    {# {% include "_partials/header.twig" %} #}

    {% block content %}{% endblock %}

    {# {% include "_partials/footer.twig" %} #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./front/assets/js/script.js"></script>

</body>

</html>