<!DOCTYPE html>
<html lang="fr">

<head>
    {% include "_partials/head.twig" %}
    {% block head %}{% endblock %}
</head>

<body>

{% include "_partials/nav.twig" %}
{% include "_partials/messages.twig" %}
{% block content %}{% endblock %}

{#{% include "_partials/footer.twig" %}#}



{% include "_partials/scripts.twig" %}

</body>

</html>