<div class="messages w-100">
    {% if messages is defined %}
        {% for key, message in messages %}
            {% if key != "status" %}
                <div class="message alert alert-{% if messages.status ==  "success" %}success{% else %}danger{% endif %}" role="alert">
                    {{ message }}
                    <span class="close">X</span>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>