<!DOCTYPE html>
<html lang="en">

<head>
    {% include "admin/_partials/head.twig" %}
    {% block head %}{% endblock %}
</head>

<body id="admin">

    <div class="site-wrap">
        {% include "admin/_partials/header.twig" %}
        {% include "admin/_partials/messages.twig" %}
        {% block content %}{% endblock %}

{#        {% include "_partials/footer.twig" %}#}

    </div>

    {% include "admin/_partials/scripts.twig" %}

</body>

</html>