<!DOCTYPE html>
<html lang="en">

<head>
    {% include "admin/_partials/head.twig" %}
    {% block head %}{% endblock %}
</head>

<body id="admin">
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        {% include "admin/_partials/nav.twig" %}
    </div>
    <div id="page-content-wrapper">
        <button class="btn btn-primary d-block d-md-none" id="menu-toggle">Menu</button>

        {% include "admin/_partials/messages.twig" %}
        {% block content %}{% endblock %}
    </div>
    {#        {% include "_partials/footer.twig" %}#}


</div>

{% include "admin/_partials/scripts.twig" %}

</body>

</html>