{% extends 'admin/layout.twig' %}

{% block head %}
    <title>Administration</title>
{% endblock %}
{% block pagetitle %} Articles à valider {% endblock %}
{% block content %}
    <div class="container">
        {% if posts != null %}
            {% include "admin/_partials/listing.twig" %}
        {% else %}
            <p class="text-center alert alert-warning">Il n'y a a pas encore d'articles</p>
        {% endif %}

    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Supprimer cet article?</h3>
                </div>
                <div class="modal-body">
                    <p>Cette action est définitive</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-danger btn-ok">Effacer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}