{% extends 'admin/layout.twig' %}

{% block head %}
    <title>Modifier l'utilisateur</title>
{% endblock %}

{% block pagetitle %} Modifier utilisateur {% endblock %}

{% block content %}
<div class="container">
    <form class="form" method="post" action="{{ actionUser }}" enctype="multipart/form-data">
        {% for formField in userForm %}
            <div class="form-group">
                <div>{{ formField|raw }}</div>
            </div>
        {% endfor %}
    </form>
</div>
{% endblock %}